@model IEnumerable<MercadoAlpha.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: black;
        font-weight: bold;
    }

    .negrito {
        font-weight: bold;
    }
</style>

<div class=" card">
    <div class=" card-header text-center  bg-primary text-light">Pesquisar Usuarios</div>
    <div class="card-body ">
        <form action="/Usuarios/Index" method="get">
            <div class="row">

                <div class="col-9">
                    <input type="text" name="query" class="form-control" placeholder="Digite sua busca" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
                <div class='ml-3'>
                    <a href="/Usuarios/Create" class="btn btn-success">
                        Novo Usuario
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<h1 class="text-center text-warning">Usuário</h1>

<table class="table">
    <thead class="bg-danger text-light">
        <tr>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary  text-center">
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    <button type="button" class="btn btn-warning">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    </button>
                    <button type="button" class="btn btn-danger">
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
