@model IEnumerable<MercadoAlpha.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: black;
        
    }

</style>

<div class=" card">
    <div class=" card-header text-center  bg-secondary">Pesquisar usuarios</div>
    <div class="card-body ">
        <form action="/Usuarios/Index" method="get">
            <div class="row">
                <div class="col-4">
                    <a href="/Usuarios/Create" class="btn btn-success">
                        Novo Usuario
                    </a>
                </div>
                <div class="col-4">
                    <input type="text" name="query" class="form-control" placeholder="Digite sua busca" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<h1 class="text-center text-warning">Cadastrar usuario</h1>

<p>
    <a asp-action="Create">Criar usuario</a>
</p>
<table class="table">
    <thead class="bg-danger text-light">
        <tr>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Login)
            </th scope="col" class="border border-white">
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary  text-center">
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td class="border border-dark">
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
               
            </td>
        </tr>
}
    </tbody>
</table>
