@model IEnumerable<MercadoAlpha.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}


<style>
    body {
        background-color: black;
    }
</style>

<h1 class="text-center text-warning">Consultar Funcionários</h1>

<p>
    <a asp-action="Create">Cadastrar Funcionários</a>
</p>
<table class="table">
    <thead class="bg-danger text-light">
        <tr>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.nomesocial)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.cargo)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.datanasc)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.sexo)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.rg)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.cep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary text-center">
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.nomesocial)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.cargo)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.datanasc)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.sexo)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.endereco)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.rg)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.cpf)
                </td>
                <td class="border border-dark">
                    @Html.DisplayFor(modelItem => item.cep)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
