@model IEnumerable<MercadoAlpha.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: black;
    }
</style>

<p>
    <a asp-action="Create">Cadastrar Cliente</a>
</p>
<table class="table">
    <thead class="bg-danger text-light">
        <tr>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.nomesocial)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.datanascimento)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.sexo)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.cep)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-secondary  text-center">
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.nomesocial)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.datanascimento)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <th class="border border-dark">
                @Html.DisplayFor(modelItem => item.cep)
            </th>
            <th class="border border-dark">
                @Html.DisplayFor(modelItem => item.cpf)
            </th>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
