@model IEnumerable<MercadoAlpha.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: black;
    }
</style>
<div class=" card">
    <div class=" card-header text-center  bg-primary text-light">Pesquisar Clientes</div>
    <div class="card-body ">
        <form action="/Clientes/Index" method="get">
            <div class="row">
                
                <div class="col-9">
                    <input type="text" name="query" class="form-control" placeholder="Digite sua busca" />
                </div>
                <div >
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
                <div class='ml-3'>
                    <a href="/Clientes/Create" class="btn btn-success">
                        Novo Cliente
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<h1 class="text-center text-warning">Consultar Clientes</h1>

<table class="table">
    <thead class="bg-danger text-light">
        <tr>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.nomesocial)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.datanascimento)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.sexo)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.cep)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-secondary  text-center">
                <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.nomesocial)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.datanascimento)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <th class="border border-dark">
                @Html.DisplayFor(modelItem => item.cep)
            </th>
            <th class="border border-dark">
                @Html.DisplayFor(modelItem => item.cpf)
            </th>
            <td>
                 <button type="button" class="btn btn-warning">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                </button>
                <button type="button" class="btn btn-danger">
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
