@model IEnumerable<MercadoAlpha.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: black;
        
    }

</style>
<div class=" card">
    <div class=" card-header text-center  bg-secondary">Pesquisar Produtos</div>
    <div class="card-body ">
        <form action="/Produtos/Index" method="get">
            <div class="row">
                <div class="col-4">
                    <a href="/Produtos/Create" class="btn btn-success">
                        Novo Produto
                    </a>
                </div>
                <div class="col-4">
                    <input type="text" name="query" class="form-control" placeholder="Digite sua busca" />
                </div>
                <div >
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<h1 class="text-center text-warning">Consultar Produtos</h1>

<p>
    <a asp-action="Create">Cadastrar produto</a>
</p>
<table class="table">
    <thead class="bg-danger text-light">
        <tr>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.UnidadeMedida)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.DataValidade)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th scope="col" class="border border-white">
                @Html.DisplayNameFor(model => model.QtdEstoque)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary  text-center">
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.UnidadeMedida)
            </td class="border border-dark">
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.DataValidade)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td class="border border-dark">
                @Html.DisplayFor(modelItem => item.QtdEstoque)
            </td>
            <td class="border border-dark">
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
