@model IEnumerable<MercadoAlpha.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"  class="border border-white">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col"  class="border border-white">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th scope="col"  class="border border-white">
                @Html.DisplayNameFor(model => model.UnidadeDeMedida)
            </th>
            <th scope="col"  class="border border-white">
                @Html.DisplayNameFor(model => model.DataValidade)
            </th>
            <th scope="col"  class="border border-white">
                @Html.DisplayNameFor(model => model.QtdEstoque)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeDeMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataValidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdEstoque)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Deletar", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
